{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHeroProject</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <div class="principal">
        <header class="menu">
                <div id="home" class="opciones">
                    <a href="{% url 'characters:list_characters'%}"><img src="{% static 'icons/Home_icon.png'%}" alt=""></a>
                </div>
            

            <form action="{% url 'characters:list_characters'%}" method="get">
                <div class="busqueda">
                    <div><input id="busqueda" type="text" name="search"></div>
                    <div><button id="btn_buscar"><img src="{% static 'icons/btn_buscar.png'%}" alt=""></button></div>
                </div>
            </form>

            <div class="redes">
                <div class="item_redes">
                    <a href=""><img src="{% static 'icons/fb_logo.png'%}" alt=""></a>
                </div>
                <div class="item_redes">
                    <a href=""><img src="{% static 'icons/instagram_logo.png'%}" alt=""></a>
                </div>
                <div class="item_redes">
                    <a href=""><img src="{% static 'icons/telegram-plane.png'%}" alt=""></a>
                </div>

            </div>
        </header>
    </div>

    <div class="universos">
        {%for item in list2%}
        <div class="universo_item">
            <a href="{% url 'characters:filter_by_universe' item.id %}">{{item.name}}</a>
        </div>
        {%endfor%}
    </div>
    <div class="content">
        {%block body%} {%endblock%}
    </div>


</body>

</html>