{% extends 'solutions/masterTemplate.html' %} {% load static%} {% block body %}
<div class="content">
    <header class="titulo">
        <h1>Our solutions for {{item.name}}</h1>
    </header>

    <p>{{item.description}}</p>
    <br>
    <div class="description">

        <div class="description_video">
            <img src="/media/{{item.video}}"></img>
        </div>
    </div>
    <div class="caseStudies">
        {% for case in list %}
        <a class="case" href="{%url 'solutions:detail_case_study' case.id%}">

            <img src="/media/{{case.path}}" alt="">

        </a>

        {% endfor %}
    </div>

</div>
{% endblock %}