@font-face {
    font-family: AlfaSlabone;
    src: url("../fonts/Alfa_Slab_One/AlfaSlabOne-Regular.ttf");
}

@font-face {
    font-family: Domine;
    src: url("../fonts/Domine/Domine-VariableFont_wght.ttf");
}

body {
    background-image: url("../img/fondo_dr_stone.jpg");
    background-size: 100%;
    height: 900px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.principal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 3px 0 green;
    z-index: 2020;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: beige;
    align-items: center;
}

.opciones {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 40px;
}

#btn_opciones {
    display: none;
}

#img_btn_opciones:hover {
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 green;
}

#home:hover {
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 green;
}

.busqueda {
    display: flex;
    height: 30px;
    box-shadow: 0 3px 3px 0 green;
    border-radius: 10px;
}

#busqueda {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    height: 90%;
}

#btn_buscar {
    background: transparent;
    border: none;
    height: 100%;
    width: 30px;
}

#btn_buscar:hover {
    background: green;
    border-radius: 10px;
}

.redes {
    display: flex;
    flex-wrap: wrap;
}

.item_redes {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.universos {
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    background: beige;
    box-shadow: 10px 10px 10px black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: auto;
    justify-content: space-between;
}

.universo_item {
    display: block;
    text-align: center;
    font-family: Domine;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    min-width: 19%;
}

.universo_item a:hover {
    color: green;
}

.universo_item a {
    text-decoration: none;
    color: rgb(38, 65, 65);
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    background: rgba(0, 128, 68, 0.597);
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.personaje {
    text-decoration: none;
    margin: 2%;
    flex-basis: 25.3%;
    height: 450px;
    background: rgb(1, 116, 62);
    padding: 15px;
    border: 1px solid white;
    border-radius: 5px;
}

#link_pj {
    text-decoration: none;
}

.personaje:hover {
    scale: 1.04;
    transition: 0.5ms;
    box-shadow: 10px 10px 10px black;
}

.personaje header {
    text-align: center;
    font-family: AlfaSlabone;
    color: white;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.personaje img {
    display: block;
    margin: auto;
    width: 95%;
    height: 270px;
    object-fit: cover;
    border: 1px solid white;
}

.personaje p {
    text-align: justify;
    font-family: Domine;
    color: white;
    margin: 5%;
    font-size: 0.7em;
    max-height: 90px;
    max-width: 90%;
    overflow: auto;
}

.form-group {
    margin-top: 150px;
}
.form{
    display: flex;
    margin: 5px;
    padding: 3px;
    text-align: end;
}
.submit{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: Domine;
    background-color: beige;
}
.submit:hover{
    color: aliceblue;
    background-color: rgb(38, 65, 65);
}


